name: Auto Redeploy Activity Service

on:
  schedule:
    - cron: "0 * * * *"   # runs every hour (UTC)

jobs:
  redeploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST https://api.render.com/deploy/srv-d4g1sc0gjchc73do1bvg?key=V8q11772SAA
